body{
    background-color: #2f2f2f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0px 15px 20px whitesmoke;
}

h1{
    size: 20px;
    color: beige;
}

p{
    color: beige;
}





